body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.battlefield {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.hide{
  /* display: none; */
  visibility: hidden;
}

.show {
  visibility: visible;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px
}